src/nvdcve-1.1-2016.json
src/nvdcve-1.1-2017.json
src/nvdcve-1.1-2018.json
src/nvdcve-1.1-2019.json
src/nvdcve-1.1-2020.json
src/nvdcve-1.1-2021.json
src/nvdcve-1.1-2022.json
src/nvdcve-1.1-2002.json
src/nvdcve-1.1-2003.json
src/nvdcve-1.1-2004.json
src/nvdcve-1.1-2005.json
src/nvdcve-1.1-2006.json
src/nvdcve-1.1-2007.json
src/nvdcve-1.1-2008.json
src/nvdcve-1.1-2009.json
src/nvdcve-1.1-2010.json
src/nvdcve-1.1-2011.json
src/nvdcve-1.1-2012.json
src/nvdcve-1.1-2013.json
src/nvdcve-1.1-2014.json
src/nvdcve-1.1-2015.json
